@mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 25px; // Bordure plus arrondie
    cursor: pointer;
    font-size: $font-size-base;
    transition: background-color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      background-color: darken($bg-color, 10%);
      transform: scale(1.05); // Effet de zoom au survol
    }
  }
  
  @mixin card-shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }